extends layout


block content
  h1= title
  p Welcome to #{title}
  button#start start
  button#stop stop
  script.
    const loaded = () => {
      document.getElementById("start").addEventListener("click", (e) => doTheFetch("start") )
      document.getElementById("stop").addEventListener("click", (e) => doTheFetch("stop") )
    }
    const doTheFetch = (endpoint) => {
    fetch(`/${endpoint}`,{
      method: 'PUT',
      headers:{
      'Content-Type':'application/json'
      },
      body: ""
      })

    }
    document.onload = loaded();
