extends layout

block content
  .row.mt-5
    .offset-1.col-10.offset-sm-2.col-sm-8.offset-md-4.col-md-4.text-center
      main.form-signin
        form( action='/login' method='POST')
          img.mb-4(src='/img/pizza.png' alt='' width='72' height='57')
          h1.h3.mb-3.fw-normal Please sign in
          if(message)
            h4= message
          .form-floating.mb-3
            input#floatingInput.form-control(type='text' placeholder='username' name='username')
            label(for='floatingInput') Username
          .form-floating.mb-3
            input#floatingPassword.form-control(type='password' placeholder='Password' name='password')
            label(for='floatingPassword') Password
          button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
          p.mt-5.mb-3.text-muted &copy; 2017&ndash;2021
